* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #34495e;
    background-image: linear-gradient(355deg, #34495e 0%, #29524a 74%);
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #051626 !important;
    z-index: 1000000000;
    opacity: 1;
    overflow: hidden;
    text-align: center;
}

div.one {
    width: 8vmax;
    height: 8vmax;
    border-right: 4px solid white;
    border-radius: 100%;
    animation: spinRight 800ms linear infinite;
}

div.one:before,
div.one:after {
    content: "";
    width: 6vmax;
    height: 6vmax;
    display: block;
    position: absolute;
    top: calc(50% - 3vmax);
    left: calc(50% - 3vmax);
    border-left: 3px solid white;
    border-radius: 100%;
    animation: spinLeft 800ms linear infinite;
}



div.one:after {
    width: 4vmax;
    height: 4vmax;
    top: calc(50% - 2vmax);
    left: calc(50% - 2vmax);
    border: 0;
    border-right: 2px solid white;
    animation: nome;
}













