* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #34495e;
    background-image: linear-gradient(355deg, #34495e 0%, #29524a 74%);
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #051626 !important;
    z-index: 1000000000;
    opacity: 1;
    overflow: hidden;
    text-align: center;
}